<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/front/" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/front/intervention" routerLinkActive="active">Interventions</a>
      <a mat-list-item routerLink="/front/projets" routerLinkActive="active">Projets</a>
      <a mat-list-item routerLink="/front/contact" routerLinkActive="active">Contact</a>
      <a mat-list-item routerLink="#" routerLinkActive="active">Connection/Inscription</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Centre Regionale de Maintenance de Mahdia</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <app-front-footer></app-front-footer>
  </mat-sidenav-content>
</mat-sidenav-container>