
<div class="container relative mx-auto carousel" style="max-width:1600px;">
        <div class="relative w-full overflow-hidden carousel-inner">
                <!--Slide 1-->
                <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden=""
                        checked="checked">
                <div class="absolute opacity-0 carousel-item" style="height:50vh;">
                        <div class="flex w-full h-full pt-6 mx-auto bg-right bg-cover md:pt-0 md:items-center"
                                style="background-image: url('./assets/face-CRMM.jpg');">

                                <div class="container mx-auto">
                                        <div
                                                class="flex flex-col items-center w-full px-6 tracking-wide bg-opacity-20 lg:w-1/2 md:ml-16 md:items-start">
                                                <p class="my-4 text-2xl text-orange-500">Déjà Jeune et il a confirmé ces valeurs</p>
                                                <a class="inline-block text-xl leading-relaxed no-underline border-b border-gray-600 hover:text-black hover:border-black"
                                                        href="#">view product</a>
                                        </div>
                                </div>

                        </div>
                </div>
                <label for="carousel-3"
                        class="absolute inset-y-0 left-0 z-10 hidden w-10 h-10 my-auto ml-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer prev control-1 md:ml-10 hover:text-white hover:bg-gray-900">‹</label>
                <label for="carousel-2"
                        class="absolute inset-y-0 right-0 z-10 hidden w-10 h-10 my-auto mr-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer next control-1 md:mr-10 hover:text-white hover:bg-gray-900">›</label>

                <!--Slide 2-->
                <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                <div class="absolute bg-right bg-cover opacity-0 carousel-item" style="height:50vh;">
                        <div class="flex block w-full h-full pt-6 mx-auto bg-right bg-cover md:pt-0 md:items-center"
                                style="background-image: url('./assets/face1-CRMM.jpg');">

                                <div class="container mx-auto">
                                        <div
                                                class="flex flex-col items-center w-full px-6 tracking-wide lg:w-1/2 md:ml-16 md:items-start">
                                                <p class="my-4 text-2xl text-orange-500">Déjà Jeune et il a confirmé ces valeurs</p>
                                                <a class="inline-block text-xl leading-relaxed no-underline border-b border-gray-600 hover:text-black hover:border-black"
                                                        href="#">view product</a>
                                        </div>
                                </div>

                        </div>
                </div>
                <label for="carousel-1"
                        class="absolute inset-y-0 left-0 z-10 hidden w-10 h-10 my-auto ml-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer prev control-2 md:ml-10 hover:text-white hover:bg-gray-900">‹</label>
                <label for="carousel-3"
                        class="absolute inset-y-0 right-0 z-10 hidden w-10 h-10 my-auto mr-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer next control-2 md:mr-10 hover:text-white hover:bg-gray-900">›</label>

                <!--Slide 3-->
                <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                <div class="absolute opacity-0 carousel-item" style="height:50vh;">
                        <div class="flex block w-full h-full pt-6 mx-auto bg-bottom bg-cover md:pt-0 md:items-center"
                                style="background-image: url('./assets/face-CRMM.jpg');">

                                <div class="container mx-auto">
                                        <div
                                                class="flex flex-col items-center w-full px-6 tracking-wide lg:w-1/2 md:ml-16 md:items-start">
                                                <p class="my-4 text-2xl text-orange-500">Déjà Jeune et il a confirmé ces valeurs</p>
                                                <a class="inline-block text-xl leading-relaxed no-underline border-b border-gray-600 hover:text-black hover:border-black"
                                                        href="#">view product</a>
                                        </div>
                                </div>

                        </div>
                </div>
                <label for="carousel-2"
                        class="absolute inset-y-0 left-0 z-10 hidden w-10 h-10 my-auto ml-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer prev control-3 md:ml-10 hover:text-white hover:bg-gray-900">‹</label>
                <label for="carousel-1"
                        class="absolute inset-y-0 right-0 z-10 hidden w-10 h-10 my-auto mr-2 text-3xl font-bold leading-tight text-center text-black bg-white rounded-full cursor-pointer next control-3 md:mr-10 hover:text-white hover:bg-gray-900">›</label>

                <!-- Add additional indicators for each slide-->
                <ol class="carousel-indicators">
                        <li class="inline-block mr-3">
                                <label for="carousel-1"
                                        class="block text-4xl text-gray-400 cursor-pointer carousel-bullet hover:text-gray-900">•</label>
                        </li>
                        <li class="inline-block mr-3">
                                <label for="carousel-2"
                                        class="block text-4xl text-gray-400 cursor-pointer carousel-bullet hover:text-gray-900">•</label>
                        </li>
                        <li class="inline-block mr-3">
                                <label for="carousel-3"
                                        class="block text-4xl text-gray-400 cursor-pointer carousel-bullet hover:text-gray-900">•</label>
                        </li>
                </ol>

        </div>
</div>




<section class="py-8 bg-white">

        <div class="container flex flex-col flex-wrap items-center pt-4 pb-12 mx-auto">

                <nav id="store" class="top-0 z-30 w-full px-6 py-1">
                        <div
                                class="container flex flex-wrap items-center justify-between w-full px-2 py-3 mx-auto mt-0">

                                <a class="text-xl font-bold tracking-wide text-gray-800 no-underline uppercase hover:no-underline "
                                        href="#">
                                        Actualités
                                </a>

                                <div class="flex items-center" id="store-nav-content">

                                        <a class="inline-block pl-3 no-underline hover:text-black" href="#">
                                                <svg class="fill-current hover:text-black"
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24">
                                                        <path d="M7 11H17V13H7zM4 7H20V9H4zM10 15H14V17H10z" />
                                                </svg>
                                        </a>

                                        <a class="inline-block pl-3 no-underline hover:text-black" href="#">
                                                <svg class="fill-current hover:text-black"
                                                        xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                        viewBox="0 0 24 24">
                                                        <path
                                                                d="M10,18c1.846,0,3.543-0.635,4.897-1.688l4.396,4.396l1.414-1.414l-4.396-4.396C17.365,13.543,18,11.846,18,10 c0-4.411-3.589-8-8-8s-8,3.589-8,8S5.589,18,10,18z M10,4c3.309,0,6,2.691,6,6s-2.691,6-6,6s-6-2.691-6-6S6.691,4,10,4z" />
                                                </svg>
                                        </a>

                                </div>
                        </div>
                </nav>
                 <!-- Actualites-->
                <div class="flex flex-row flex-wrap" *ngFor="let actualite of actualities">
                        <app-actualite-card 
                                [titre]="actualite.titre"
                                [contenue]="actualite.contenue" 
                                [photoUrl]="actualite?.photoUrl">
                        </app-actualite-card>
                </div>
                
                <!-- Projets-->
                <div class="flex flex-row">
                       <h3>Les Projets</h3>
                </div>

                 <!-- Interventions-->
                 <div class="flex flex-row">
                        <h3>Interventions</h3>
                 </div>
 

        </div>

</section>

<section class="py-8 bg-white">

        <div class="container px-6 py-8 mx-auto">

                <a class="mb-8 text-xl font-bold tracking-wide text-gray-800 no-underline uppercase hover:no-underline"
                        href="#">
                        Avenue 2 Mars 1934 Hiboun Mahdia 5111
                        Tel:29561722  * ** *    Fax:73680442
                </a>

                <p class="mt-8 mb-8">
                        Le Centre Régional de Maintenance Mahdia est issu du ministère de l’éducation tunisienne, 
                        chargé de maintenance des équipements et d’infrastructure des établissements scolaire. 
                        Il est dirigé par Mr Bsir Thameur comme sous-directeur et Mr.Ben Othmen Moncef comme chef service de maintenance.       
                </p>
                        <br>
                       

                <p class="mb-8">Le centre a pour objectif ...  </p>

        </div>

</section>
